django==6.0
djangorestframework==3.16.1
django-cors-headers==4.6.0
pyjwt==2.9.0
dependency-injector==4.48.3
python-dotenv==1.0.1
psycopg2-binary==2.9.10
pgvector==0.4.2
google-genai==1.56.0
openai==2.16.0
pypdf2==3.0.1
pycryptodome==3.23.0

# Linting & Formatting
black==24.10.0
isort==5.13.2
ruff==0.8.4
pre-commit==4.0.1